*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 900px;
    height: 900px;
    border: 3 px solid red;
    display: flex;
    flex-direction: column;
}

.grid-row {
    width: 100%;
    flex: 1;
    height: 20px;
    display: flex;
}

.grid-box {
    height: 100%;
    width: 20px;
    flex: 1;
    border: 3px solid black;
}

.dark {
    background-color: gray;
}